<br>
<h1>WHAT IS RAD KELLY'S??</h1>
<br>
<p>Why can't Some men grow beards?

Dr. Jennifer Chwalek will tell you: It's based on genetics as well as hormones. Some men, you know, have more hair follicles, so they can grow denser, coarser beards than others. Testosterone gets converted in the hair follicle to a more potent form called dihydrotestosterone.

Some men can cultivate amazing beards, other men can’t.  This marketplace is designed to allow beard cultivators to sell their wares to the folically challenged.

Some men are time precious – and don’t have the time to sit around growing beards.</p>

Some men would like the freedom to play around with different styles and textures

Some men are gingers and the beards they yield are sub-par

Women can also have access to beards

If the ancient world has taught us anything – with the proper techniques hair can be preserved forever.  


In a world where we have abundant choice of so many things, it’s a real problem that incidental things like genetics, ethnicity and hormone levels can have such a profound effect on the ability to grow a beard.  People deserve the right to choose what they do with their own bodies and finally, thank god, there’s a system in place to allow those choices to be made. Men and women deserve the freedom to buy, swap and sell their beards.  




<h1>COMPANY INFO</h1>

<h1>TESTIMONIALS</h1>

<h1>FAQ</h1>
<br>
<br>

<h2><%=link_to 'BACK', :back %></h2>

