  <div class="landing">
    <p class="text-center">
      
    
    <p>
          <%= image_tag "nk.png", id: "landing-image" %>
      </p>
My beard was the first armour I created for my face.  <br>
I wish I had sold it instead of doing all of that criming and gun popping.<br>
    Ned Kelly 1880
    </p>
  </div>

<h1><%=link_to 'ENTER', all_items_path%></h1>





